:root {
  --black: #000;
}
@font-face {
  font-family: 'Balqis';
  src: url('../fonts/balqis.woff2');
  src: url('../fonts/balqis.woff2') format('woff2'),
     url('../fonts/balqis.woff') format('woff');

  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('../fonts/RobotoCondensed-Light.woff2');
  src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
     url('../fonts/RobotoCondensed-Light.woff') format('woff');
     

  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoCondensed-LightItalic';
  src: url('../fonts/RobotoCondensed-LightItalic.woff2');
  src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
     url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
     

  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

body {
  color: var(--black);
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 100vh;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__top {
  padding: 72px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}
.menu__list {
  display: flex;
  gap: 0 52px;
}
.menu__link {
  transition: all .6s;
}
.menu__link:hover {
  border-bottom: 1px solid var(--black);
}

.header__title {
  text-align: center;
  color: var(--black);
  font-family: "Balqis", serif;
  font-size: 250px;
  font-weight: 400;
}
.header__title span {
  text-align: right;
  margin-top: -6%;
  margin-right: 8%;
  display: block;
  font-family: "Roboto Condensed";
  font-size: 56px;
  font-style: italic;
  font-weight: 300;
}
